@font-face {
    font-family: "pop-light";
    src: url("./fonts/Poppins-Light.ttf");
  }
  @font-face {
    font-family: "pop-reg";
    src: url("./fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "pop-med";
    src: url("./fonts/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "pop-bold";
    src: url("./fonts/Poppins-Bold.ttf");
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

